a {
  text-decoration: none;
  color: inherit;
}

.btn:hover {
  background: #0069d9;
  transition: background 200ms;
  cursor: pointer; 
}

.app {
  display: grid;
  grid-template-rows: max-content 1fr max-content;
  min-height: 100vh;
}

.section-list {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 32px;
  list-style-type: none;
  margin-top: 3rem;
  grid-auto-columns: 1fr;
  padding: 0;
  align-items: flex-start;
}

.section-title {
  font-size: 2.4rem;
  text-align: center;
}

.section-list li span {
  font-weight: bold;
  font-size: 1.6rem;
}

section > p {
  max-width: 675px;
  margin: 1.25rem auto;
}

.app-header {
  align-items: center;
  background: #f8f9fa;
  box-sizing: border-box;
  color: rgba(0,0,0,0.5);
  display: flex;
  flex-flow: row nowrap;
  font-size: 1.15rem;
  justify-content: flex-start;
  padding: 0.8rem 1rem;
  position: sticky;
  top: 0;
  z-index: 3;
}

.app-header--logo {
  margin-right: 1rem;
}

.app-header--navigation a {
  padding: 0 0.5rem;
}

.app-header--navigation a:hover {
  color: rgba(0,0,0,0.7);
}

.hero-section {
  background: url('../images/handwriting.jpg') repeat center;
  background-attachment: fixed;
  background-size: 1024px;
  padding-top: 4rem;
  z-index: 2;
  font-size: 1.15rem;
  position: relative;
}

.hero-section::before {
  content: '';
  display: block;
  position: absolute;
  background: rgba(0,0,0,0.7);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.hero-heading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: 2;
  color: var(--primary-color);
}

.hero-heading--link {
  display: flex;
  flex-direction: column;
  color: var(--reversed-primary-color);
}

.scroll-img {
  background-size: contain;
  background-image: url('../images/scroll.png');
  width: 84px;
  height: 50px;
  background-repeat: no-repeat;
}

.heading-link-block {
  align-items: center;
  color: var(--primary-color);
  display: flex;
  justify-content: center;
  position: relative;
  text-align: center;
}

.heading-link-block span {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
}

.heading--title {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 4rem;
  text-shadow: 2px 2px 0 #F4BC08, 0px 0px 0 #F4BC08, 0px 0px 0 #F4BC08, 0px 0px 0 #F4BC08, 0px 0px 0 #F4BC08;
  -webkit-text-stroke: 1px #4A4A4A;
}

.heading--descriptions p {
  text-transform: uppercase;
  text-align: center;
  color: var(--reversed-primary-color);
}

.heading--descriptions p:nth-child(1) {
  font-size: 1.75rem;
  margin-bottom: 4.5rem;
}

.boomWriterRev-img {
  max-width: 315px;
}

.heading--img-wrapper {
  position: relative;
}

.globe-img {
  width: 100%;
  display: block;
  height: 100%;
  max-height: 370px;
  object-fit: cover;
  object-position: top;
}

.triangle-img {
  position: absolute;
  bottom: 0;
  right: 0;
  max-width: 200px;
}

.home-section--intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--highlight-bg);
  text-align: center;
  padding-bottom: 4rem;
  width: 100%;
}

.intro--wrapper {
  max-width: 575px;
  margin: 0 auto;
}

.intro--wrapper .title {
  text-transform: uppercase;
  font-size: 2.7rem;
}

.intro--wrapper p {
  margin: 1.5rem;
}

.btn {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.125rem;
  padding: 0.65rem 3rem;
  white-space: normal;
  line-height: 1.5;
  border-radius: 0.25em;
  color: var(--reversed-primary-color);
  -webkit-text-stroke: 0.8px var(--reversed-primary-color);
  letter-spacing: 1px;
  display: block;
  width: 60%;
  margin: 0 auto;
  max-width: 350px;
  text-align: center;
}

.btn-primary {
  background-color: var(--link-bg);
  border-color: var(--link-bg);
}

.features-section {
  display: flex;
  flex-direction: column;
  max-width: 960px;
  margin: 10rem auto;
}

.features-list {
  display: grid;
  grid-auto-flow: column;
  padding: 1.25rem 0;
  grid-column-gap: 32px;
}

.features-list--item {
  display: flex;
  flex-direction: column;
  align-items: center;  
  text-align: center;
}

.features-list--item div {
  display: flex;
  flex-direction: column;
  align-items: center;  
  text-align: center;
}


.features-list--item span {
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 1rem;
}

.tick-icon {
  background: var(--highlight-bg);
  padding: 14px;
  border-radius: 100%;
  width: 55px;
  height: 55px;
  fill: var(--reversed-primary-color);
  box-sizing: border-box;
}

.features-title {
  -webkit-text-stroke: 0.8px var(--primary-color);
  font-size: 2.4rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.features--testimony-holder {
  background: #F4F4F4;
  max-width: 625px;
  margin: 6rem auto;
  position: relative;
  padding-top: 3.5rem;
  text-align: center;
  border-radius: 10px;
  font-size: 1.20rem;
  margin-bottom: 4rem;
}


.features-list--item div span {
  font-size: 1.2rem;
}

.features--testimony-holder img {
  width: 100px;
  position: absolute;
  top: -50px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.features--testimony-holder p {
  font-style: italic;
}

.testimony-name {
  color: var(--link-bg);
}

.competition-section {
  background: var(--primary-color);
  color: var(--reversed-primary-color);
  padding: 5rem;
  text-align: center;
  font-size: 1.2rem;
}

.competition-section img {
  max-width: 778px;
  width: 100%;
  margin: 0 auto;
}

.boomwriter-section {
  background-color: var(--highlight-bg);
  background-position: center bottom;
  background-size: cover;
  background-attachment: fixed;
  background-image: url('../images/works_header.jpg');
  padding: 6rem;
  font-size: 1.25rem;
  text-align: center;
}

.timeline-section {
  background: var(--primary-color);
  color: var(--reversed-primary-color);
  padding: 4rem;
}

.boomwriter-section .section-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.boomwriter-imgs-wrapper {
  max-width: 1065px;
  margin: 0 auto;
}

.boomwriter-section .section-title img {
  margin-left: 1rem;
}
  
.boomwriter-section li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 100;
}

.timeline-section .section-title {
  margin-bottom: 4rem;
}

.timeline-section .card {
  max-width: 550px;
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;
}

.timeline-section .card-content {
  background: var(--reversed-primary-color);
  color: var(--primary-color);
  display: flex;
  align-items: flex-start;
  padding: 1.5rem;
  margin: 2rem 0;
  font-size: 1.25rem;
}

.timeline-section .card-content img {
  margin-right: 1.15rem;
}

.card-content--title {
  padding-bottom: 0.6rem;
  font-weight: bold;
  border-bottom: 1px solid #ddd;
}

.card-arrow {
  height: 100%;
  width: 3px;
  background: #f7f7fa;
  position: absolute;
  left: -25px;
}

.card-arrow--dot {
  background: var(--highlight-bg);
  width: 10px;
  height: 10px;
  position: absolute;
  top: 14px;
  left: -6px;
  border-radius: 100%;
  border: 3px solid var(--primary-color);
}

.app-footer {
  background: var(--primary-color);
  color: var(--reversed-primary-color);
  padding: 5rem;
  font-size: 1.15rem;
  text-align: center;
  line-height: 1.8rem;
}

.app-footer a {
  text-decoration: underline;
}

.app-footer--wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 575px;
  margin: 0 auto;
}

.menu-button {
  width: 25px;
  height: 25px;
  fill: #00000080;
}

.menu {
  position: absolute;
  right: 15px;
  top: 20px;
  background: none;
  border-radius: 3px;
  border: 1px solid #d8d8d8;
  padding: 4px 10px;
  box-sizing: border-box;
  cursor: pointer;
  display: none;
}

.past-writing-bees {
  background: var(--reversed-primary-color);
  color: var(--primary-color);
  padding: 3rem;
}

.past-writing-bees--wrapper {
  max-width: 1150px;
  margin: 0 auto;
}
.past-writing-bees--wrapper .title {
  font-size: 2.4rem;
}

.writing-bees--list img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.writing-bees--list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 2rem 0;
  justify-content: space-between;
}

.writing-bees--list li {
  background: #fff;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
  max-width: 250px;
  margin: 2rem 0.5rem;
  height: 375px;
  border-radius: 15px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  cursor: pointer;
  transition: transform 250ms;
}

.writing-bees--list li:hover {
  transform: scale(1.1);
}

.bees-card--description {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
}

.bees-list--description {
  padding: 1rem;
}

.bees-card--date {
  font-size: 0.90rem;
}

.bees-card--subtitle {
  text-align: center;
  font-size: 1.2rem;
}

.bees-card-by--text {
  font-size: 1rem;
}

.bees-card--author {
  color: var(--link-bg);
  font-size: 1.45rem;
}


@media only screen and (max-width: 990px) {

  html {
    font-size: 14px;
  }

  .menu {
    display: block;
  }

  .app-header--navigation {
    display: none;
  }

  .app-header.open .app-header--navigation {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
  }

  .app-header.open {
    flex-direction: column;
    align-items: flex-start;
  }

  .app-header.open .app-header--navigation a:first-child {
    margin-bottom: 1rem;
  }

  .section-list {
    grid-auto-flow: row;
    padding: 0 2rem;
  }

  .features-list--item {
    align-items: flex-start;
  }

  .features-list--item div {
    flex-direction: row;
  }

  .features-list--item div span {
    margin: 0 0 0 1rem;
    text-align: left;
  }

  .features-list--item p {
    font-size: 1.2rem;
    text-align: left;
  }

  .features-section {
    padding: 0 2rem;
  }

  .boomwriter-section {
    padding: 2rem;
  }

  .boomwriter-imgs-wrapper .section-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .boomwriter-section li {
    flex: 0 0 30%;
    margin-bottom: 1rem;
  }

  .competition-section {
    padding: 2rem;
  }

  .intro--wrapper .title {
    font-size: 2.2rem;
  }

  .past-writing-bees {
    padding: 1rem;
  }

  .writing-bees--list li {
    width: 85%;
    max-width: 450px;
  }

  .writing-bees--list {
    justify-content: center;
  }

  .app-footer {
    padding: 2rem;
  }

}